html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  background-color: black;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}

#ascii {
  overflow: hidden;
}

#container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#video {
  width: 100%;
}

#previews {
  display: flex;
  width: 100%;
}

#previews canvas {
  width: 100%;
}
