html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  background-color: black;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}

#container {
  overflow: hidden;
  width: 100%;
  display: flex;
}

#ascii {
  margin: 0 auto;
  text-align: center;
}

#hidden {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 1px;
  width: 1px;
}

#video {
  width: 100%;
}

#previews {
  display: flex;
  width: 100%;
}

#previews canvas {
  width: 100%;
}
